<select class="menu-select" onchange="location = this.value;">
  <option value="" selected disabled>Menú</option>
    <option value="https://singular-piroshki-a5874e.netlify.app/home">Inicio</option>
    <option value="https://ejemplo3productos.netlify.app/">Productos</option>
    <option value="https://67cdfc7a449a2400083f30a0--hotelutx-parcial1.netlify.app/">Proyecto parcial 1</option>
      <option value="https://singular-piroshki-a5874e.netlify.app/acerca_de">Nosotros</option>

  </select>
<div class="container">
    <h1 class="titulo">Catálogo de Libros</h1>

    <h4 class="subtitulo">Alta de Libros</h4>

    <div class="input-group">
        <label>Título</label>
        <input type="text" [(ngModel)]="libro.titulo" class="input-field" placeholder="Ingresa el título" />
    </div>

    <div class="input-group">
        <label>Autor</label>
        <input type="text" [(ngModel)]="libro.autor" class="input-field" placeholder="Ingresa el autor" />
    </div>

    <div class="input-group">
        <label>Editorial</label>
        <input type="text" [(ngModel)]="libro.editorial" class="input-field" placeholder="Ingresa la editorial" />
    </div>

    <div class="input-group">
        <label>Año de Publicación</label>
        <input type="text" [(ngModel)]="libro.anioPublicacion" class="input-field" placeholder="Año de publicación" />
    </div>

    <div class="button-group">
        <button type="button" class="btn insert-btn" (click)="this.insertarLibro()">Insertar</button>
        <button type="button" class="btn update-btn" (click)="this.updateLibro()">Actualizar</button>
        <button type="button" class="btn delete-btn" (click)="this.deleteLibro()">Eliminar</button>
        <button type="button" class="btn clean-btn" (click)="this.cleanLibro()">Limpiar Campos</button>
    </div>

    <hr class="divider" />

    <h4 class="subtitulo">Listado de libros</h4>
    <table class="book-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Año de Publicación</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @for (libro of libros; track libro.id) {
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.editorial }}</td>
                    <td>{{ libro.anioPublicacion }}</td>
                    <td>
                        <button type="button" class="btn select-btn" (click)="selectLibro(libro)">Seleccionar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
